input[type="submit"] { background-color: #8cabfc; }

button.cancel {
  background-color: #dcb5ff;
  border: 2px solid #8cabfc;
  color: #8cabfc;
}

.left { background-color: #dcb5ff; }

.right { background-color: #d9f2ff; }

.box-list:hover {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(140,175,251,0.36878501400560226) 50%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(140,175,251,0.36878501400560226) 50%, rgba(255,255,255,0) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(140,175,251,0.36878501400560226) 50%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

::-webkit-scrollbar-track { background: #d9f2ff; }
::-webkit-scrollbar-thumb { background: #dcb5ff; }
::-webkit-scrollbar-thumb:hover { background: #dcb5ff; }

select {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px;
  border-radius: 25px;
  outline: none;
  border: none;
  margin-top: 10px;
  font-size: 1.2em;
  cursor: pointer;
}