<div class="row">
  <div class="column left">
    <h1>Miembros</h1>

    <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
      <label>
        Nombre
        <input type="text" formControlName="name"/>
        <div *ngIf="isSubmitted && memberForm.controls.name.errors" class="input-form-error">
          <div *ngIf="memberForm.controls.name.errors.required">Nombre es requerido</div>
        </div>
      </label>
      
      <label>
        Años <span class="lbl-optional">(opcional)</span>
        <input type="text" formControlName="years"/>
        <div *ngIf="isSubmitted && memberForm.controls.years.errors" class="input-form-error">
            <div *ngIf="memberForm.controls.years.errors.required">Años son requeridos</div>
            <div *ngIf="memberForm.controls.years.errors.pattern">Campo debe ser numérico</div>
        </div>
      </label>

      <label *ngIf="artistList">
        Artista <span class="lbl-optional">(opcional)</span>
        <select formControlName="artist">
          <option value="" selected>-- Seleccione --</option>
          <option *ngFor="let val of artistList.content" value={{val.id}}>{{val.name}}</option>
        </select>
      </label>

      <input type="submit" value="{{saveLabel}}"/>
      <button *ngIf="saveLabel != 'Guardar'" class="cancel" (click)="resetForm()">Cancelar</button>
    </form>
  </div>

  <div class="column right">
    <app-menu></app-menu>
    <div *ngIf="memberList" class="box-scroll">
      <ng-container *ngFor="let member of memberList.content">
        <div *ngIf="member.id" class="box-list">
          <div class="avatar"><img src="../../../assets/images/member.png"/></div>
          <div class="content">
            <div class="title">{{member.name}} <span *ngIf="member.years">({{member.years}} años)</span></div>
            <div *ngIf="member.relatedArtist" class="mini-box artist"><em>{{member.relatedArtist.name}}</em></div>
          </div>
          <div class="options">
            <i class="material-icons" (click)="editMember(member, member.relatedArtist?.id)" title="Editar {{member.name}}">edit</i>
            <i class="material-icons" (click)="deleteMember(member)" title="Eliminar {{member.name}}">delete_outline</i>
          </div>
        </div>
        <div *ngIf="!member.id" class="no-records">
            <i class="material-icons">error_outline</i>
            <div>Ups!, no se han encontrado registros.</div>
        </div>
      </ng-container>
    </div>
  </div>
</div>