button {
  width: 100px;
  margin-bottom: 15px;
  border-radius: 13px;
  outline: none;
  cursor: pointer;
}

button:nth-child(1) { margin-right: 10px; }
button:nth-child(2) { margin-left: 10px; }

select { width: 100%; margin-bottom: 20px; }